.container {
  background-color: #f3f3f3;
}
/* BotonRec (div) */
.botonRec,
.botonSnapshot {
  cursor: pointer;
  background-color: #7f8c8d;
  border-radius: 5px;
}
.botonRec:active,
.botonSnapshot:active {
  background-color: #95a5a6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* imagen */
.img_securitycam {
  background-color: #f3f3f3;
}

/* icono (captura) */
.fa-camera {
  width: 35px;
  height: 35px;
  font-size: 30px;
  margin: 18px;
  outline: none;
}

/* circulo rec */
#recButton {
  width: 35px;
  height: 35px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 35px;
  margin: 18px;
  outline: none;
}

/* toast */
.toast {
  left: 50%;
  top: 30%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
}

/* slider grabaciones */
.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

/* efecto boton grabacion */
.notRec {
  background-color: darkred;
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}
